body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 56rem;
    margin: 4rem auto;
    padding: 0 1rem;
    background: #f2f3f5; 
}

.page {
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1.5rem black;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.profileImg {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.firstLastName {
    margin: 0;
    font-size: 2rem;
}

.position {
   margin: 0.5rem 0 1rem;
   font-weight: 400;
   color: gray;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    border-top: 1px solid gray;
    padding-top: 1rem;
}

.nav a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}

/* ********* Main ********* */

/*  About section */
.about {
    border-top: 1px solid gray;
    margin-top: 1rem;
}

.about p {
    line-height: 1.5;
}

/*  Skills section */
.skills {
    border-top: 1px solid gray;
    margin-top: 1rem;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0.5rem;
    display: flex;
    gap: 0.75rem;
}

.skills-list li {
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    background: linear-gradient(180deg, #eef2ff, #e0e7ff);
    color: navy;
    border: 2px solid cyan;
}

/*  Projects section */

.projects {
    border-top: 1px solid gray;
    margin-top: 1rem;
}

.project-summary {
    font-size: 0.9rem;
    color: #374151;
}

.project-tech {
    font-size: 0.9rem;
    color: #4b5563;
}

.project-features {
    margin: 0.5rem 0 0;
    padding-left: 1rem;
}

.project-features li {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.project-links {
    margin-top: 0.5rem;
}

.project-links a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
}

.project-links a:hover {
    text-decoration: underline;
}

.project-soon {
    font-size: 0.9rem;
    color: red;
}