body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 56rem;
    margin: 4rem auto;
    padding: 0 1rem;
    background: #f2f3f5; 
}

.page {
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1.5rem black;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.profileImg {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.firstLastName {
    margin: 0;
    font-size: 2rem;
}

.position {
   margin: 0.5rem 0 1rem;
   font-weight: 400;
   color: gray;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    border-top: 1px solid gray;
    padding-top: 1rem;
}

.nav a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}

/* ********* Main ********* */

/*  About section */
.about {
    border-top: 1px solid gray;
    margin-top: 1rem;
}

.about p {
    line-height: 1.5;
}